- content_for :title do
  Edusite
  |
  Users

%h1.text-center.h3.my-3
  Users
  .badge.badge-info
    = @users.count

-# .card-columns
-#   - @users.each do |user|
-#     = render 'users/user', user: user

-# .form-inline.my-2
-#   = search_form_for @q do |f|
-#     = f.search_field :email_cont, placeholder: 'email'
-#     = f.search_field :sign_in_count_eq, placeholder: 'sign in count'
-#     = f.search_field :email_or_sign_in_count_eq, placeholder: 'email or sign in count'
-#     = f.submit
-#   .ml-2
-#   = link_to 'refresh', users_path

.form-inline.my-3
  = search_form_for @q do |f|
    = f.search_field :email_cont, placeholder: "email"
    = f.submit

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th= sort_link(@q, :id)
        %th= sort_link(@q, :email)
        %th= sort_link(@q, :created_at)
        %th= sort_link(@q, :sign_in_count)
        %th= sort_link(@q, :current_sign_in_at)
        %th= sort_link(@q, :last_sign_in_at)
        %th= sort_link(@q, :current_sign_in_ip)
        %th= sort_link(@q, :last_sign_in_ip)
        %th= sort_link(@q, :roles)
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td
            - if user.online?
              .text-success.fa.fa-user-circle
            - else
              .text-danger.fa.fa-user-circle
            = link_to user.email, user
          %td= user.created_at
          %td= user.sign_in_count
          %td= user.current_sign_in_at
          %td= user.last_sign_in_at
          %td= user.current_sign_in_ip
          %td= user.last_sign_in_ip
          %td
            - user.roles.each do |role|
              .badge.badge-info
                = role.name
            - if policy(user).edit?
              = link_to 'Edit roles', edit_user_path(user), class: "btn btn-sm btn-warning"
!= pagy_bootstrap_nav(@pagy)
