- content_for :title do
  Edusite
  |
  Activity

%h1.text-center.h3.my-3
  Activity
  .badge.badge-info
    = @activities.count

%ul.list-group
  - @activities.each do |activity|
    %li.list-group-item
      = activity.id
      = activity.trackable_type
      = activity.trackable_id
      = activity.trackable
      = activity.key
      = activity.parameters
      = activity.owner

