- content_for :title do
  Edusite
  |
  Online Courses

.jumbotron
  .display-4.p-4
    What do you want to learn today?


  - if current_user
    %div.m-4
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

- if current_user
  %hr
  %h2.h3.my-3
    .fa.fa-user-graduate
    Continue Learning
  .card-columns
    - @purchased_courses.each do |course|
      = render 'courses/course', course: course
  .text-right
    = link_to "Purchased courses", purchased_courses_path

%hr
%h2.h3.my-3
  .fa.fa-chart-line
  Popular courses
.card-columns
  - @popular_courses.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to "Browse popular courses", courses_path(courses_search: { s: 'enrollments_count DESC' })

%hr
%h2.h3.my-3
  .fa.fa-star
  Top rated courses
.card-columns
  - @top_rated_courses.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to "Browse best rated courses", courses_path(courses_search: { s: 'average_rating DESC' })

%hr
%h2.h3.my-3
  .fa.fa-clock
  Latest courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course
.text-right
  = link_to "Browse most recent courses", courses_path(courses_search: { s: 'created_at DESC' })

%hr
%h2.h3.my-3
  .fa.fa-comment
  What our students say
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment

%hr
%h2.h3.my-3
  .fa.fa-hashtag
  Popular tags
%p
  - @popular_tags.each do |tag|
    .badge.font-italic
      = link_to courses_path(course_search: { course_tags_tag_id_eg: tag.id}) do
        = "#" + tag.name
        = tag.course_tags_count

