- content_for :title do
  Edusite
  |
  = action_name.humanize
  enrollments

%h1.text-center.h3.my-3
  = action_name.humanize
  enrollments
  .badge.badge-dark
    = @enrollments.count

= search_form_for @q, url: @ransack_path do |f|
  = f.search_field :user_email_cont, placeholder: "user email"
  = f.search_field :course_title_cont, placeholder: "course"
  = f.search_field :price_eq, placeholder: "price"
  = f.search_field :rating_eq, placeholder: "rating"
  = f.search_field :review_cont, placeholder: "review"
  = f.submit
  = link_to 'refresh', @ransack_path

.table-responsive.mt-3
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th= sort_link(@q, :id)
        %th= sort_link(@q, :user_email, "User")
        %th= sort_link(@q, :created_at)
        %th= sort_link(@q, :course_title, "Course")
        %th= sort_link(@q, :price)
        %th= sort_link(@q, :rating)
        %th= sort_link(@q, :review)
        %th= sort_link(@q, :updated_at)
        %th= sort_link(@q, :progress)
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.created_at.strftime("%d-%b-%Y, %H:%M")
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= number_to_currency(enrollment.price)
          %td= enrollment.rating
          %td= enrollment.review
          %td
            - if enrollment.rating.present?
              = enrollment.updated_at.strftime("%d-%b-%Y, %H:%M")
          %td= number_to_percentage(enrollment.course.progress(enrollment.user), precision: 0)
          %td= link_to 'See review', enrollment
          %td
            - if policy(enrollment).edit?
              = link_to 'Edit review', edit_enrollment_path(enrollment)
          %td
            - if policy(enrollment).destroy?
              = link_to 'Cancel enrollment', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

!= pagy_bootstrap_nav(@pagy)
