- content_for :title do
  Edusite
  |
  New Enrollment

.card
  .card-header
    #h1.h3
      .fa.fa-book
      Enroll to a course -
      = link_to @course.title, course_path(@course)
  .card-body
    = form_tag course_enrollments_path(@course) do
      = label_tag
      = submit_tag "Enroll for #{number_to_currency(@course.price)}", class: "btn btn-sm btn-success"

  .card-footer
    = link_to 'Back', course_path(@course)
