- if lesson.viewed(current_user)
  .far.fa-check-square
- else
  .far.fa-square
= link_to course_lesson_path(@course, lesson) do
  = (lesson.row_order_rank + 1).to_s + "."
  = lesson.title

.float-right
  .fa.fa-comment
  = lesson.comments_count
  - if policy(lesson).edit?
    .fa.fa-eye
    = lesson.user_lessons_count
    = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: "btn btn-sm btn-primary"
    = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary"
