.card
  .card-header
    - if lesson.viewed(current_user)
      .far.fa-check-square
    - else
      .far.fa-square
    = link_to lesson.title, course_lesson_path(@course, lesson)
  - if policy(lesson).show?
    .card-body
      - if @lesson.video_thumbnail.attached?
        %video(controls="true" poster="#{url_for @lesson.video_thumbnail}" width="100%" preload="metadata")
          %source{src: rails_blob_url(@lesson.video), type: "#{@lesson.video.content_type}"}
        %br
      - elsif @lesson.video.attached?
        %video(controls="true" width="100%" preload="metadata")
          %source{src: rails_blob_url(@lesson.video), type: "#{@lesson.video.content_type}"}
        %br

        -# VIDEO JS
        -# = content_tag :video, id: 'my-video' do
        -#   = tag :source, src: url_for(@lesson.video), type: @lesson.video.content_type
      = lesson.content
  - if policy(lesson).edit?
    .card-footer
      = link_to 'Edit', edit_course_lesson_path(@course, lesson), class: "btn btn-sm btn-primary"
      = link_to 'Destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary"
  .card-footer
    - unless lesson.prev.nil?
      = link_to "Previous", course_lesson_path(@course, lesson.prev), class: "btn btn-sm btn-primary"
    - unless lesson.next.nil?
      = link_to "Next", course_lesson_path(@course, lesson.next), class: "float-right btn btn-sm btn-primary"
