.card
  .card-header
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course)
  - if course.avatar.attached?
    .card-img-top
      = image_tag course.avatar, width: "100%", height: "230px"
  .card-body
    %small= simple_format(course.short_description)
  .card-footer
    .text-center
      = enrollment_button(course)
      %br
      = review_button(course)
  .card-footer
    .row
      .col-md-6
        .fa.fa-tasks
        = course.lessons_count
        .fa.fa-users
        = course.enrollments_count
      .col-md-6.text-right
        .fa.fa-star
        = course.average_rating
  .card-footer
    .row
      .col-md-6
        .fa.fa-globe-africa
        = course.language
      .col-md-6.text-right
        .fa.fa-signal
        = course.level
  .card-footer
    .row
      .col-md-6
        .far.fa-clock
        = course.updated_at.strftime('%d-%b-%Y')
      .col-md-6.text-right
        .fa.fa-chalkboard-teacher
        = link_to course.user.username, user_path(course.user)
  - if current_user
    - if policy(course).owner?
      .card-footer
        = link_to "Add a lesson", new_course_lesson_path(course, @lesson), class: "btn btn-sm btn-primary"
        = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-primary'
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary'
        = link_to "Analytics", analytics_course_path(course), class: 'btn btn-sm btn-primary'
    - if policy(course).destroy?
      .card-footer
        - if course.published?
          .badge.badge-primary Published
        - else
          .badge.badge-dark Draft
        - if policy(course).approve? && course.published?
          - if course.approved?
            .badge.badge-primary Approved
            = link_to 'Unapprove', unapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-primary'
          - else
            .badge.badge-dark Unapproved
            = link_to 'Approve', approve_course_path(course), method: :patch, class: 'btn btn-sm btn-primary'
    .card-footer
      - course.tags.each do |tag|
        = link_to controller: controller_name, action: action_name, courses_search: {course_tags_tag_id_eq: tag.id} do
          .badge.font-italic
            = "#" + tag.name
            = tag.course_tags_count
