-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    - if @course.avatar.attached?
      = image_tag @course.avatar, width: "25%", class: "mt-2 mb-3"
    .row
    = f.label "Add course picture:", class: "my-3"
    = f.file_field :avatar
    = f.input :description, as: :rich_text_area
    %small= f.error :description, class: 'text-danger'
    = f.input :short_description
    = f.input :language, collection: Course.languages, include_blank: true
    = f.input :level, collection: Course.levels, include_blank: true
    = f.input :price
    = f.input :published


  .form-actions
    = f.button :submit, class: "btn btn-primary"
