%h1
  Courses:
  = @courses.count


.row
  .col-md-2
    %div.my-3
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        = f.label :title
        = f.search_field :title_cont, placeholder: 'title_cont', class: 'form-control my-1'
        = f.label :short_description
        = f.search_field :short_description_cont, placeholder: 'short_description_cont', class: 'form-control my-1'
        = f.label :language
        = f.select :language_cont, Course.languages, include_blank: true, class: 'form-control my-1'
        = f.label :level
        = f.select :level_cont, Course.levels, include_blank: true, class: 'form-control my-1'
        = f.label :price
        = f.search_field :price_eq, placeholder: 'price', class: 'form-control my-1'
        = f.label :user_email
        = f.search_field :user_email_cont, placeholder: 'user_email', class: 'form-control my-1'
        = f.submit :Submit, class: "btn btn-primary", style: "display: inline;"
        = link_to :Refresh, courses_path, class: "btn btn-secondary p-2", style: "display: inline;"
  .col-md-10
    .card-columns
      - @courses.each do |course|
        = render 'courses/course', course: course
%br
