- content_for :title do
  Edusite
  |
  = action_name.humanize
  courses

%h1.text-center.h3.my-3
  = action_name.humanize
  courses
  .badge.badge-info
    - if @all_courses.nil?
      0
    - else
      = @all_courses.count

.row
  .col-md-2
    %div.my-3
      = search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f|
        = f.label :title
        = f.search_field :title_cont, placeholder: 'title_cont', class: 'form-control my-1'
        = f.label :short_description
        = f.search_field :short_description_cont, placeholder: 'short_description_cont', class: 'form-control my-1'
        = f.label :language
        = f.select :language_cont, Course.languages, include_blank: true, class: 'form-control my-1'
        = f.label :level
        = f.select :level_cont, Course.levels, include_blank: true, class: 'form-control my-1'
        = f.label :price
        = f.search_field :price_eq, placeholder: 'price', class: 'form-control my-1'
        = f.label :user_email
        = f.search_field :user_email_cont, placeholder: 'user_email', class: 'form-control my-1'
        = f.submit :Submit, class: "btn btn-primary", style: "display: inline;"
        = link_to "Refresh", @ransack_path, class: "btn btn-secondary p-2", style: "display: inline;"
  .col-md-10
    != pagy_bootstrap_nav(@pagy)
    .card-columns
      - unless @courses.nil?
        - @courses.each do |course|
          = render 'courses/course', course: course
    != pagy_bootstrap_nav(@pagy)
%br
