- content_for :title do
  Edusite
  |
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  .col-lg-6
    = render @course
  .col-lg-6
    - if policy(@course).edit?
      = link_to "Add a lesson", new_course_lesson_path(@course, @lesson), class: "btn btn-sm btn-primary"
    - @lessons.each do |lesson|
      = render 'lessons/lesson', lesson: lesson

